<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Denzil Francis Crasta">
    <link rel="shortcut icon" href="images/flaticon.ico">

    <title>Publications | Interactive Intelligence Lab </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> 

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/iil.css" rel="stylesheet">
    <link href="css/publications.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar with-shadow navbar-expand-md navbar-light fixed-top bg-light">

    <div class="container">
      <!-- Logo Section -->
      <a class="navbar-brand" href="index.html">
        <img src="images/iillogo.png" width="30" height="30" class="d-inline-block align-top" alt="IIL Logo">
       <span class="navbar-brand-expanded hidden-md-down"> Interactive Intelligence Lab</span>
       <span class="navbar-brand-short hidden-md-up">IIL</span> <span class="logotext-tail"> IITM </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation Links -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="people.html">People</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact-Us</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>


    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Publications</h1>
        <p class="lead  text-muted">
           Some text describing and characterizing our publication distribution </p>
      </div>
     </section>

      <div class="container">
          <div class="row">
            <ol class="col publications">
             {% for paper in publications %}
              <li>
                <span class="pub-title">{{ paper.title}} </span> 
                <span class="pub-authors">
                {% assign authors = paper.author | split: " and " %}
                {% assign str = "" %}
                {% for author in authors %} 
                  {% assign curr_str =  author | split: "," | reverse | join: " "| append:", " %}
                  {% assign str = str | append: curr_str %} 
                {% endfor %}
                {% assign len = str | size | minus:2 %}
                {{ str | slice:0, len }}
                </span>
                <span class="pub-journal">{{ paper.journal }}</span>
                <!-- <span class="pub-publisher">{{ paper.publisher }}</span> -->
                <span class="pub-year">({{ paper.year }})</span>
                <span class="pub-location"></span>
                <span class="pub-tail">
                  {{ paper.volume }}
                  {% if paper.number %} ({{ paper.number }}) {% endif %}
                  {{ paper.pages}}
                </span>
                <span class="pub-links"> 
                  {% if paper.link %}<a href="{{ paper.link }}">pdf</a> {% endif %}
                  <!-- <a href="#">git</a> -->
                </span>
              </li>
              {% endfor %}
            </ol>
          </div>
      </div>



      <!-- FOOTER -->
      <div class="container">
      <footer>
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>Interactive Intelligence Lab | IIT Madras &copy; 2017 </p>
      </footer>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript -->

     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  </body>
</html>
